{% extends "webapp/layout.html" %}
{% block body %}
    <p> Enter clover, daisy, or bellflower.Can put in multiple terms with 
          ';' as seperated. <br>
          <i> Example: clover; daisy </i>
    </p>
    <form action="/query" method="POST" id ="form">

      <p>Enter text:</p>
      <!--TODO (zous): Put in character/word limit on text box. -->
      <!--TODO: try to have a feedback form-->
      <textarea name="text-input"></textarea>
      <p> Enter zip code of where you want to navigate: </p>
      <input type="number" name="zip-code">
      <br/>
      <input type="submit" id="submit"/>   
      
    </form>
    
    <p id="associated-text"> </p>

    <div id="map"></div>
    
    <div id ="globalURL"></div> 
{% endblock %}
