
#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 650px;
}

.map {
  border: thin solid black;
}

#route-map {
  height: 500px;
  width: 500px;
}

#point-map {
    height: 300px;
    width: 300px;
}

#route-list {
  list-style-type: none;
}

.route {
  border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.route span {
  flex-grow: 1;
}

#legend {
    padding: 3px;
    width: 500px;
    border: thin solid black;
}

#globalURL{
    padding: 3px;
    width: 500px;
}

#location {
    margin: 7px;
}

  /* Icon when the collapsible content is shown */
  .btn:after {
    content: "see less";
  }
  /* Icon when the collapsible content is hidden */
  .btn.collapsed:after {
    content: "see more";
  }
