@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

html,body { height:100%; }

#body {
  background-color:rgb(236, 247, 238);
  font-family: 'Thasadith', Srisakdi;
  height: 100%;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-size: 120%;
}

#header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 650px;
  font-weight: bold;
  /* font-style: italic; */
  font-family: 'Bubblegum Sans';
}

.map {
  border: thin solid black;
}

#navbar-logo {
    width: 60px;
    height: 60px;
}

.navbar {
  font-family: 'Thasadith', Srisakdi;
}

.active {
    font-weight: bold;
}

#route-map {
  height: 500px;
  width: 500px;
}

#point-map {
    height: 500px;
    width: 500px;
}

#route-list {
  list-style-type: none;
}

.route {
  border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.route span {
  flex-grow: 1;
}

/* .checkbox-set {
    display: none;
} */

#legend {
    padding: 3px;
    width: 500px;
    border: thin solid black;
}

#globalURL{
    padding: 3px;
    width: 500px;
}

#location {
    margin: 7px;
}

/* Icon when the collapsible content is shown */
.btn:after {
    content: "see less";
}

/* Icon when the collapsible content is hidden */
    .btn.collapsed:after {
    content: "see more";
}

#one-way-tab, #loop-tab {
    display: none;
}

.small-map {
  height: 500px;
  width: 500px;
}

.legend {
    padding: 3px;
    width: 500px;
    border: thin solid black;
}

.globalURL{
    padding: 3px;
    width: 500px;
}


.specify-route-type {
  font-size: 120%;
}

.center {
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.button {
  background-color: rgb(10, 71, 10);
  color: white;
  font-weight: bold;
  border-width: thin;
}

.button:hover {
  background-color: gray;
  color: white;
}

