@import url('https://fonts.googleapis.com/css2?family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

#body {
  background-color:rgb(236, 247, 238);
  font-family: 'Thasadith', Srisakdi;
  overflow: auto;
}

#feedback {
  background-color:rgb(236, 247, 238);
  font-family: 'Thasadith', Srisakdi;
  text-align: center;
  overflow: auto;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 120%;
}

#header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 650px;
  font-weight: bold;
  /* font-style: italic; */
  font-family: 'Bubblegum Sans';
}

.map {
  border: thin solid black;
}

#navbar-logo {
    width: 60px;
    height: 60px;
}

.navbar {
  font-family: 'Thasadith', Srisakdi;
}

.active {
    font-weight: bold;
}

textarea {
  width: 20vw;
}

#point-map {
  padding-top: 100%;
  width: 55vw;
}

#route-list {
  list-style-type: none;
}

.route {
  border: thin solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.route span {
  flex-grow: 1;
}

.checkbox {
    display: none;
}

#legend {
    padding: 3px;
    width: 55vw;
    border: thin solid black;
}

#globalURL{
    padding: 3px;
    width: 55vw;
}

#location {
    margin: 7px;
}

#one-way-tab, #loop-tab {
    display: none;
}

.small-map {
  height: 500px;
  width: 500px;
}

.specify-route-type {
  font-size: 120%;
}

.center {
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.button {
  background-color: rgb(10, 71, 10);
  color: white;
  font-weight: bold;
  border-width: thin;
}

.button:hover {
  background-color: gray;
  color: white;
}

.index-text {
  width: 60%;
  display: inline-block;
}